$border-color: #9030b8;

header {
	padding: 25px 0;
	width: 100%;
	//height: 140px;
	background: #780da5;
	color: #fff;

	.header-top {
		width: 100%;
		height: 50px;
		border-bottom: 1px solid $border-color;

		.header-top-logo {
			float: left;
			font-size: 19px;
			font-weight: 700;
		}

		.header-top-author {
			float: right;
			cursor: pointer;
		}
	}

	.header-links {
		padding: 25px 0;
		//height: 30px;

		.header-links-date {
			padding: 0 25px 0 0;
			float: left;
			border-right: 2px solid $border-color;
		}

		nav {
			margin: 0 0 0 25px;
			float: left;

			ul {
				padding: 0;
				margin: 0;
				list-style: none;

				.active {
					opacity: .7;
				}

				li {
					margin: 0 20px 0 0;
					display: inline;

					a {
						&:hover {
							opacity: .7;
						}
					}
				}
			}
		}
	}
}

button[mat-fab] {
	bottom: 25px;
	right: 25px;
	z-index: 99;
	position: fixed;
}
