<header>
	<div class="wrapper">
		<div class="header-top">
			<span class="header-top-logo">{{ title }}</span>
			<a class="header-top-author" (click)="openDialogAuthor()">Autor</a>
		</div>
		<div class="header-links">
			<div class="header-links-date">
				{{ year }}
			</div>
			<nav>
				<ul>
					<li><a routerLink="/history" routerLinkActive="active">Historia</a></li>
					<li><a routerLink="/goals" routerLinkActive="active">Cele</a></li>
				</ul>
			</nav>
		</div>
	</div>
</header>
<button type="button" mat-fab color="primary" [matMenuTriggerFor]="appMenu">
	<mat-icon>add</mat-icon>
</button>
<mat-menu #appMenu="matMenu">
	<button mat-menu-item (click)="addOperation()">Dodaj operację</button>
	<button mat-menu-item (click)="addGoal()">Dodaj cel</button>
</mat-menu>
<router-outlet></router-outlet>
